.home {
  position: relative;
  text-align: center;
  padding: 6rem 1rem;
  height: 90vh;
  width: 100vw;
}
.bottle-container {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #555; */
  top: -30%;
}
.bottle {
  width: 25vh;
  height: 80vh;
  z-index: 5;
  position: absolute;
  top: 10;
  /* background-color: #0072ff; */
}

.cap {
  width: 25vh;
  height: 100vh;
  position: absolute;
  z-index: 2;
  /* background-color: #00c6ff; */
}
.circle-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 90vh;
  width: 100vw;
  background: transparent;
  /* background-color: #555; */
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid transparent;
  background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
  padding: 2px;
}

.circle::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: white;
  border-radius: 50%;
}

.title {
  position: relative;
  font-size: clamp(4rem, 2vw + 1rem, 6rem);
  font-weight: 500;
  max-width: 90vw;
  margin: 3% auto;
  /* margin-top: 8%; */
  z-index: 2;
  /* background-color: #00c6ff; */
}

.subtitle {
  margin-top: -3rem;
  font-size: 26;
  color: #555;
  z-index: 2;
  position: relative;
  /* background-color: #00c6ff; */
}

.inq-btn {
  margin-top: 1.5rem;
  background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

/* Bottle Circles */
.bottleCircle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftBottle {
  position: absolute;
  bottom: 110px;
  left: 40px;
  /* background-color: #555; */
}

.rightBottle {
  position: absolute;
  bottom: 110px;
  right: 40px;
}
