.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  /* background-color: cadetblue; */
}

.navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: beige; */
  height: 50px;
}

.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding-right: 20px;
  /* color: aquamarine; */
}

/* .navLinks li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
} */

.navLinks li button {
  font-size: 20;
  font-weight: 400;
}

.inqButton {
  background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
  color: white;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 25px;
  font-weight: 400;
  font-size: 20;
  cursor: pointer;
  height: 50px;
  width: 200px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 2rem;
  }
  .navbar div {
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }
  .navLinks li button {
    font-size: smaller;
    font-weight: 400;
  }
  /* .inqButton {
    height: 50px;
    width: 100px;
  } */
  /* .navLinks li button {
    font-size: 14;
  } */
  /* .navLinks {
    gap: 1rem;
  } */
}
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    gap: 2rem;
  }
  .navbar div {
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }
  .navLinks li button {
    font-size: 15;
    font-weight: 200;
  }
  /* .inqButton {
    height: 50px;
    width: 100px;
  } */
  /* .navLinks li button {
    font-size: 14;
  } */
  /* .navLinks {
    gap: 1rem;
  } */
}
